src/wsdl/150.163.55.230_8084/Estacao_Leona/ControllerServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.estacao.leona.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.estacao.leona.br/" name="ControllerServices">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.estacao.leona.br/" schemaLocation="http://150.163.55.230:8084/Estacao_Leona/ControllerServices?xsd=1"/>
</xsd:schema>
</types>
<message name="matarTrasnmissor">
<part name="parameters" element="tns:matarTrasnmissor"/>
</message>
<message name="matarTrasnmissorResponse">
<part name="parameters" element="tns:matarTrasnmissorResponse"/>
</message>
<message name="executarCaptura">
<part name="parameters" element="tns:executarCaptura"/>
</message>
<message name="executarCapturaResponse">
<part name="parameters" element="tns:executarCapturaResponse"/>
</message>
<message name="matarCaptura">
<part name="parameters" element="tns:matarCaptura"/>
</message>
<message name="matarCapturaResponse">
<part name="parameters" element="tns:matarCapturaResponse"/>
</message>
<message name="receberCoordXYZ">
<part name="parameters" element="tns:receberCoordXYZ"/>
</message>
<message name="receberCoordXYZResponse">
<part name="parameters" element="tns:receberCoordXYZResponse"/>
</message>
<message name="resetPantilt">
<part name="parameters" element="tns:resetPantilt"/>
</message>
<message name="resetPantiltResponse">
<part name="parameters" element="tns:resetPantiltResponse"/>
</message>
<message name="desligarPantilt">
<part name="parameters" element="tns:desligarPantilt"/>
</message>
<message name="desligarPantiltResponse">
<part name="parameters" element="tns:desligarPantiltResponse"/>
</message>
<message name="moverAzimute">
<part name="parameters" element="tns:moverAzimute"/>
</message>
<message name="moverAzimuteResponse">
<part name="parameters" element="tns:moverAzimuteResponse"/>
</message>
<message name="moverElevacao">
<part name="parameters" element="tns:moverElevacao"/>
</message>
<message name="moverElevacaoResponse">
<part name="parameters" element="tns:moverElevacaoResponse"/>
</message>
<message name="ligarCamera">
<part name="parameters" element="tns:ligarCamera"/>
</message>
<message name="ligarCameraResponse">
<part name="parameters" element="tns:ligarCameraResponse"/>
</message>
<message name="desligarCamera">
<part name="parameters" element="tns:desligarCamera"/>
</message>
<message name="desligarCameraResponse">
<part name="parameters" element="tns:desligarCameraResponse"/>
</message>
<message name="removerFotos">
<part name="parameters" element="tns:removerFotos"/>
</message>
<message name="removerFotosResponse">
<part name="parameters" element="tns:removerFotosResponse"/>
</message>
<message name="removerDiretorioFotos">
<part name="parameters" element="tns:removerDiretorioFotos"/>
</message>
<message name="removerDiretorioFotosResponse">
<part name="parameters" element="tns:removerDiretorioFotosResponse"/>
</message>
<message name="executarTrasnmissor">
<part name="parameters" element="tns:executarTrasnmissor"/>
</message>
<message name="executarTrasnmissorResponse">
<part name="parameters" element="tns:executarTrasnmissorResponse"/>
</message>
<message name="retornarListaStatus">
<part name="parameters" element="tns:retornarListaStatus"/>
</message>
<message name="retornarListaStatusResponse">
<part name="parameters" element="tns:retornarListaStatusResponse"/>
</message>
<message name="retornarNomesFotos">
<part name="parameters" element="tns:retornarNomesFotos"/>
</message>
<message name="retornarNomesFotosResponse">
<part name="parameters" element="tns:retornarNomesFotosResponse"/>
</message>
<portType name="ControllerServices">
<operation name="matarTrasnmissor">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/matarTrasnmissorRequest" message="tns:matarTrasnmissor"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/matarTrasnmissorResponse" message="tns:matarTrasnmissorResponse"/>
</operation>
<operation name="executarCaptura">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/executarCapturaRequest" message="tns:executarCaptura"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/executarCapturaResponse" message="tns:executarCapturaResponse"/>
</operation>
<operation name="matarCaptura">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/matarCapturaRequest" message="tns:matarCaptura"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/matarCapturaResponse" message="tns:matarCapturaResponse"/>
</operation>
<operation name="receberCoordXYZ">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/receberCoordXYZRequest" message="tns:receberCoordXYZ"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/receberCoordXYZResponse" message="tns:receberCoordXYZResponse"/>
</operation>
<operation name="resetPantilt">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/resetPantiltRequest" message="tns:resetPantilt"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/resetPantiltResponse" message="tns:resetPantiltResponse"/>
</operation>
<operation name="desligarPantilt">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarPantiltRequest" message="tns:desligarPantilt"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarPantiltResponse" message="tns:desligarPantiltResponse"/>
</operation>
<operation name="moverAzimute">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverAzimuteRequest" message="tns:moverAzimute"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverAzimuteResponse" message="tns:moverAzimuteResponse"/>
</operation>
<operation name="moverElevacao">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverElevacaoRequest" message="tns:moverElevacao"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverElevacaoResponse" message="tns:moverElevacaoResponse"/>
</operation>
<operation name="ligarCamera">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/ligarCameraRequest" message="tns:ligarCamera"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/ligarCameraResponse" message="tns:ligarCameraResponse"/>
</operation>
<operation name="desligarCamera">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarCameraRequest" message="tns:desligarCamera"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarCameraResponse" message="tns:desligarCameraResponse"/>
</operation>
<operation name="removerFotos">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/removerFotosRequest" message="tns:removerFotos"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/removerFotosResponse" message="tns:removerFotosResponse"/>
</operation>
<operation name="removerDiretorioFotos">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/removerDiretorioFotosRequest" message="tns:removerDiretorioFotos"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/removerDiretorioFotosResponse" message="tns:removerDiretorioFotosResponse"/>
</operation>
<operation name="executarTrasnmissor">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/executarTrasnmissorRequest" message="tns:executarTrasnmissor"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/executarTrasnmissorResponse" message="tns:executarTrasnmissorResponse"/>
</operation>
<operation name="retornarListaStatus">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarListaStatusRequest" message="tns:retornarListaStatus"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarListaStatusResponse" message="tns:retornarListaStatusResponse"/>
</operation>
<operation name="retornarNomesFotos">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarNomesFotosRequest" message="tns:retornarNomesFotos"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarNomesFotosResponse" message="tns:retornarNomesFotosResponse"/>
</operation>
</portType>
<binding name="ControllerServicesPortBinding" type="tns:ControllerServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="matarTrasnmissor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executarCaptura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="matarCaptura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receberCoordXYZ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetPantilt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desligarPantilt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moverAzimute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moverElevacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ligarCamera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desligarCamera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerFotos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerDiretorioFotos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executarTrasnmissor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarListaStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarNomesFotos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ControllerServices">
<port name="ControllerServicesPort" binding="tns:ControllerServicesPortBinding">
<soap:address location="http://150.163.55.230:8084/Estacao_Leona/ControllerServices"/>
</port>
</service>
</definitions>